<%- include('./partials/head.ejs') %>


    <body>
        <!-- ```````````````````````HEADER```````````````````````  -->


        <%- include('./partials/header.ejs') %>


            <!-- ```````````````````````BODY```````````````````````  -->



            <section class="body">
                <section class="detailHolder">

                    <div class="activitydetail">
                        <h1>
                            <%=eventhandle.conName  %>
                        </h1>
                        <div class="instructions ">
                            <figure>

                                <img class="fig-img" src="<%= eventhandle.conImage  %>" alt="<%= eventhandle.conName %>">


                            </figure>
                            <ul>
                                <li>Host :
                                    <%= eventhandle.conHost  %>
                                </li>
                                <li>Time :
                                    <%= eventhandle.conDate  %>
                                </li>
                                <li>
                                    <%= eventhandle.conTime  %>
                                </li>
                                <li>
                                    <%= eventhandle.conLoc  %>
                                </li>
                            </ul>
                        </div>
                        <div class="time">
                            <h1>Details:</h1>
                            <p>
                                <%=  eventhandle.condDetails  %>
                            </p>
                        </div>



                    </div>

                    <div class="attending">
                        <h1>ARE YOU GOING?</h1>
                        <ul class="buttons">
                            <li>

                                <a class="yes" href="/savedconnections">YES</a>
                            </li>
                            <li>
                                <a class="no" href="/SavedConnections">NO</a>
                            </li>
                            <li>
                                <a class="maybe" href="/SavedConnections">MAYBE</a>
                            </li>
                        </ul>

                    </div>


                </section>
            </section>


            <!-- ```````````````````````FOOTER```````````````````````  -->

            <%- include('./partials/footer.ejs')  %>

    </body>

    </html>